<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visual Hashing Python</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <h1>Visual Hashing</h1>
    <form action="/generate-plot" method="post">
      <input type="text" id="name" name="name" required />
      <div class="buttons-container">
        <button class="generate" type="submit">Generate</button>
        <button class="random-name" id="random-name-btn" type="button">
          Random name
        </button>
        <span id="download-btn-container"></span>
      </div>
    </form>
    <div class="img-container">
      {% if image %}
      <canvas
        id="visual-hash-canvas"
        data-image="{{ image }}"
        data-name="{{ name }}"
        width="400"
        height="400"
      ></canvas>
      {% endif %}
    </div>
    <script src="/static/js/main.js"></script>
    <!-- Footer -->
    <footer>
      <p>
        Created by
        <a
          href="https://github.com/purwowd"
          target="_blank"
          rel="noopener noreferrer"
          >@purwowd</a
        >
      </p>
      <p>
        An implementation of
        <a
          href="https://github.com/gungunfebrianza/Visual-Hashing"
          target="_blank"
          rel="noopener noreferrer"
          >Visual Hashing</a
        >
        using Python
      </p>
    </footer>
  </body>
</html>
